

{% load static %}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset=" UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/forms.css'%}">
    <title>Add-item</title>
</head>
<body>

    
s
    <form action="" method="POST" enctype="multipart/form-data" >

        {% csrf_token %}    
        
        <table>
            
            {{ form.as_p }}
        </table>
       <input type="submit" value="Submit">
        </form>
        <a href="{%url 'home'%}">
            <button class="button-1">
                Home
            </button>
        </a>
</body>
</html>
